#preview_wrapper {
	right: 0;
	position: fixed;
	top: 0;
	padding-top: 6.3em;
	height: 100%;
	width: 50%;
	padding-left: 20px;
	box-sizing: border-box;
}

#md_preview {
	overflow: auto;
	box-sizing: border-box;
	font-family: Helvetica, arial, sans-serif;
	font-size: 14px;
	line-height: 1.6;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 20px;
	background-color: white;
	border-left: 1px solid #eee;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

#md_preview > *:first-child {
	margin-top: 0 !important;
}

#md_preview > *:last-child {
	margin-bottom: 0 !important;
}

#md_preview a {
	color: #4183C4;
}

#md_preview a.absent {
	color: #cc0000;
}

#md_preview a.anchor {
	display: block;
	padding-left: 30px;
	margin-left: -30px;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
}

#md_preview h1, #md_preview h2, #md_preview h3, #md_preview h4, #md_preview h5, #md_preview h6 {
	margin: 20px 0 10px;
	padding: 0;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	cursor: text;
	position: relative;
}

#md_preview h1:hover a.anchor, #md_preview h2:hover a.anchor,
#md_preview h3:hover a.anchor, #md_preview h4:hover a.anchor,
#md_preview h5:hover a.anchor, #md_preview h6:hover a.anchor {
	background: url("../../images/modules/styleguide/para.png") no-repeat 10px center;
	text-decoration: none;
}

#md_preview h1 tt, #md_preview h1 code {
	font-size: inherit;
}

#md_preview h2 tt, #md_preview h2 code {
	font-size: inherit;
}

#md_preview h3 tt, #md_preview h3 code {
	font-size: inherit;
}

#md_preview h4 tt, #md_preview h4 code {
	font-size: inherit;
}

#md_preview h5 tt, #md_preview h5 code {
	font-size: inherit;
}

#md_preview h6 tt, #md_preview h6 code {
	font-size: inherit;
}

#md_preview h1 {
	font-size: 28px;
	color: black;
}

#md_preview h2 {
	font-size: 24px;
	border-bottom: 1px solid #cccccc;
	color: black;
}

#md_preview h3 {
	font-size: 18px;
}

#md_preview h4 {
	font-size: 16px;
}

#md_preview h5 {
	font-size: 14px;
}

#md_preview h6 {
	color: #777777;
	font-size: 14px;
}

#md_preview p, #md_preview blockquote, #md_preview ul, #md_preview ol, #md_preview dl, #md_preview li, #md_preview table, #md_preview pre {
	margin: 15px 0;
}

#md_preview hr {
	background: transparent url("../../images/modules/pulls/dirty-shade.png") repeat-x 0 0;
	border: 0 none;
	color: #cccccc;
	height: 4px;
	padding: 0;
}

#md_preview > h2:first-child {
	margin-top: 0;
	padding-top: 0;
}

#md_preview > h1:first-child {
	margin-top: 0;
	padding-top: 0;
}

#md_preview > h1:first-child + h2 {
	margin-top: 0;
	padding-top: 0;
}

#md_preview > h3:first-child, #md_preview > h4:first-child, #md_preview > h5:first-child, #md_preview > h6:first-child {
	margin-top: 0;
	padding-top: 0;
}

#md_preview a:first-child h1, #md_preview a:first-child h2, #md_preview a:first-child h3, #md_preview a:first-child h4, #md_preview a:first-child h5, #md_preview a:first-child h6 {
	margin-top: 0;
	padding-top: 0;
}

#md_preview h1 p, #md_preview h2 p, #md_preview h3 p, #md_preview h4 p, #md_preview h5 p, #md_preview h6 p {
	margin-top: 0;
}

#md_preview li p.first {
	display: inline-block;
}

#md_preview ul, #md_preview ol {
	padding-left: 30px;
	list-style: disc;
}

#md_preview ul :first-child, #md_preview ol :first-child {
	margin-top: 0;
}

#md_preview ul :last-child, #md_preview ol :last-child {
	margin-bottom: 0;
}

#md_preview dl {
	padding: 0;
}

#md_preview dl dt {
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	padding: 0;
	margin: 15px 0 5px;
}

#md_preview dl dt:first-child {
	padding: 0;
}

#md_preview dl dt > :first-child {
	margin-top: 0;
}

#md_preview dl dt > :last-child {
	margin-bottom: 0;
}

#md_preview dl dd {
	margin: 0 0 15px;
	padding: 0 15px;
}

#md_preview dl dd > :first-child {
	margin-top: 0;
}

#md_preview dl dd > :last-child {
	margin-bottom: 0;
}

#md_preview hr {
	border: 1px inset;
	height: auto;
}

#md_preview blockquote {
	border-left: 4px solid #dddddd;
	padding: 0 15px;
	color: #777777;
}

#md_preview blockquote > :first-child {
	margin-top: 0;
}

#md_preview blockquote > :last-child {
	margin-bottom: 0;
}

#md_preview table {
	padding: 0;
}

#md_preview table tr {
	border-top: 1px solid #cccccc;
	background-color: white;
	margin: 0;
	padding: 0;
}

#md_preview table tr:nth-child(2n) {
	background-color: #f8f8f8;
}

#md_preview table tr th {
	font-weight: bold;
	border: 1px solid #cccccc;
	text-align: left;
	margin: 0;
	padding: 6px 13px;
}

#md_preview table tr td {
	border: 1px solid #cccccc;
	text-align: left;
	margin: 0;
	padding: 6px 13px;
}

#md_preview table tr th :first-child, #md_preview table tr td :first-child {
	margin-top: 0;
}

#md_preview table tr th :last-child, #md_preview table tr td :last-child {
	margin-bottom: 0;
}

#md_preview img {
	max-width: 100%;
}

#md_preview span.frame {
	display: block;
	overflow: hidden;
}

#md_preview span.frame > span {
	border: 1px solid #dddddd;
	display: block;
	float: left;
	overflow: hidden;
	margin: 13px 0 0;
	padding: 7px;
	width: auto;
}

#md_preview span.frame span img {
	display: block;
	float: left;
}

#md_preview span.frame span span {
	clear: both;
	color: #333333;
	display: block;
	padding: 5px 0 0;
}

#md_preview span.align-center {
	display: block;
	overflow: hidden;
	clear: both;
}

#md_preview span.align-center > span {
	display: block;
	overflow: hidden;
	margin: 13px auto 0;
	text-align: center;
}

#md_preview span.align-center span img {
	margin: 0 auto;
	text-align: center;
}

#md_preview span.align-right {
	display: block;
	overflow: hidden;
	clear: both;
}

#md_preview span.align-right > span {
	display: block;
	overflow: hidden;
	margin: 13px 0 0;
	text-align: right;
}

#md_preview span.align-right span img {
	margin: 0;
	text-align: right;
}

#md_preview span.float-left {
	display: block;
	margin-right: 13px;
	overflow: hidden;
	float: left;
}

#md_preview span.float-left span {
	margin: 13px 0 0;
}

#md_preview span.float-right {
	display: block;
	margin-left: 13px;
	overflow: hidden;
	float: right;
}

#md_preview span.float-right > span {
	display: block;
	overflow: hidden;
	margin: 13px auto 0;
	text-align: right;
}

#md_preview code, #md_preview tt {
	margin: 0 2px;
	padding: 0 5px;
	white-space: nowrap;
	border: 1px solid #eaeaea;
	background-color: #f8f8f8;
	border-radius: 3px;
}

#md_preview pre code {
	margin: 0;
	padding: 0;
	white-space: pre;
	border: none;
	background: transparent;
}

#md_preview .highlight pre {
	background-color: #f8f8f8;
	border: 1px solid #cccccc;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
}

#md_preview pre {
	background-color: #f8f8f8;
	border: 1px solid #cccccc;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
}

#md_preview pre code, #md_preview pre tt {
	background-color: transparent;
	border: none;
}
