#preview.text-markdown {
	font-size: 14px;
}

#preview.text-markdown > *:first-child {
	margin-top: 0 !important;
}

#preview.text-markdown > *:last-child {
	margin-bottom: 0 !important;
}

#preview.text-markdown a {
	color: #4183C4;
}

#preview.text-markdown a.absent {
	color: #cc0000;
}

#preview.text-markdown a.anchor {
	display: block;
	padding-left: 30px;
	margin-left: -30px;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
}

#preview.text-markdown h1, #preview.text-markdown h2, #preview.text-markdown h3, #preview.text-markdown h4, #preview.text-markdown h5, #preview.text-markdown h6 {
	margin: 30px 0 10px;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	cursor: text;
	position: relative;
}

#preview.text-markdown h1:hover a.anchor, #preview.text-markdown h2:hover a.anchor,
#preview.text-markdown h3:hover a.anchor, #preview.text-markdown h4:hover a.anchor,
#preview.text-markdown h5:hover a.anchor, #preview.text-markdown h6:hover a.anchor {
	background: url("../../images/modules/styleguide/para.png") no-repeat 10px center;
	text-decoration: none;
}

#preview.text-markdown h1 tt, #preview.text-markdown h1 code {
	font-size: inherit;
}

#preview.text-markdown h2 tt, #preview.text-markdown h2 code {
	font-size: inherit;
}

#preview.text-markdown h3 tt, #preview.text-markdown h3 code {
	font-size: inherit;
}

#preview.text-markdown h4 tt, #preview.text-markdown h4 code {
	font-size: inherit;
}

#preview.text-markdown h5 tt, #preview.text-markdown h5 code {
	font-size: inherit;
}

#preview.text-markdown h6 tt, #preview.text-markdown h6 code {
	font-size: inherit;
}

#preview.text-markdown h1 {
	font-size: 34px;
	margin: 40px 0 20px;
}

#preview.text-markdown h2 {
	font-size: 28px;
}

#preview.text-markdown h3 {
	font-size: 24px;
}

#preview.text-markdown h4 {
	font-size: 20px;
}

#preview.text-markdown h5 {
	font-size: 18px;
}

#preview.text-markdown h6 {
	font-size: 14px;
}

#preview.text-markdown p, #preview.text-markdown blockquote, #preview.text-markdown ul, #preview.text-markdown ol, #preview.text-markdown dl, #preview.text-markdown table, #preview.text-markdown pre {
	margin: 15px 0;
}

#preview.text-markdown hr {
	background: transparent url("../../images/modules/pulls/dirty-shade.png") repeat-x 0 0;
	border: 0 none;
	color: #cccccc;
	height: 4px;
	padding: 0;
}

#preview.text-markdown > h2:first-child {
	margin-top: 0;
	padding-top: 0;
}

#preview.text-markdown > h1:first-child {
	margin-top: 0;
	padding-top: 0;
}

#preview.text-markdown > h1:first-child + h2 {
	margin-top: 0;
	padding-top: 0;
}

#preview.text-markdown > h3:first-child, #preview.text-markdown > h4:first-child, #preview.text-markdown > h5:first-child, #preview.text-markdown > h6:first-child {
	margin-top: 0;
	padding-top: 0;
}

#preview.text-markdown a:first-child h1, #preview.text-markdown a:first-child h2, #preview.text-markdown a:first-child h3, #preview.text-markdown a:first-child h4, #preview.text-markdown a:first-child h5, #preview.text-markdown a:first-child h6 {
	margin-top: 0;
	padding-top: 0;
}

#preview.text-markdown h1 p, #preview.text-markdown h2 p, #preview.text-markdown h3 p, #preview.text-markdown h4 p, #preview.text-markdown h5 p, #preview.text-markdown h6 p {
	margin-top: 0;
}

#preview.text-markdown li p.first {
	display: inline-block;
}

#preview.text-markdown ul, #preview.text-markdown ol {
	padding-left: 30px;
	margin: 0px;
}

#preview.text-markdown ul {
	list-style: disc;
}

#preview.text-markdown ol {
	list-style: decimal;
}

#preview.text-markdown ul :first-child, #preview.text-markdown ol :first-child {
	margin-top: 0;
}

#preview.text-markdown ul :last-child, #preview.text-markdown ol :last-child {
	margin-bottom: 15px;
}

#preview.text-markdown dl {
	padding: 0;
}

#preview.text-markdown dl dt {
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	padding: 0;
	margin: 15px 0 5px;
}

#preview.text-markdown dl dt:first-child {
	padding: 0;
}

#preview.text-markdown dl dt > :first-child {
	margin-top: 0;
}

#preview.text-markdown dl dt > :last-child {
	margin-bottom: 0;
}

#preview.text-markdown dl dd {
	margin: 0 0 15px;
	padding: 0 15px;
}

#preview.text-markdown dl dd > :first-child {
	margin-top: 0;
}

#preview.text-markdown dl dd > :last-child {
	margin-bottom: 0;
}

#preview.text-markdown hr {
	border: 1px inset;
	height: auto;
}

#preview.text-markdown blockquote {
	border-left: 4px solid #dddddd;
	padding: 0 15px;
	color: #777777;
}

#preview.text-markdown blockquote > :first-child {
	margin-top: 0;
}

#preview.text-markdown blockquote > :last-child {
	margin-bottom: 0;
}

#preview.text-markdown table {
	padding: 0;
}

#preview.text-markdown table tr {
	border-top: 1px solid #cccccc;
	background-color: white;
	margin: 0;
	padding: 0;
}

#preview.text-markdown table tr:nth-child(2n) {
	background-color: #f8f8f8;
}

#preview.text-markdown table tr th {
	font-weight: bold;
	border: 1px solid #cccccc;
	text-align: left;
	margin: 0;
	padding: 6px 13px;
}

#preview.text-markdown table tr td {
	border: 1px solid #cccccc;
	text-align: left;
	margin: 0;
	padding: 6px 13px;
}

#preview.text-markdown table tr td[align="right"] {
	text-align: right;
}

#preview.text-markdown table tr td[align="center"] {
	text-align: center;
}

#preview.text-markdown table tr th :first-child, #preview.text-markdown table tr td :first-child {
	margin-top: 0;
}

#preview.text-markdown table tr th :last-child, #preview.text-markdown table tr td :last-child {
	margin-bottom: 0;
}

#preview.text-markdown img {
	max-width: 100%;
}

#preview.text-markdown span.frame {
	display: block;
	overflow: hidden;
}

#preview.text-markdown span.frame > span {
	border: 1px solid #dddddd;
	display: block;
	float: left;
	overflow: hidden;
	margin: 13px 0 0;
	padding: 7px;
	width: auto;
}

#preview.text-markdown span.frame span img {
	display: block;
	float: left;
}

#preview.text-markdown span.frame span span {
	clear: both;
	color: #333333;
	display: block;
	padding: 5px 0 0;
}

#preview.text-markdown span.align-center {
	display: block;
	overflow: hidden;
	clear: both;
}

#preview.text-markdown span.align-center > span {
	display: block;
	overflow: hidden;
	margin: 13px auto 0;
	text-align: center;
}

#preview.text-markdown span.align-center span img {
	margin: 0 auto;
	text-align: center;
}

#preview.text-markdown span.align-right {
	display: block;
	overflow: hidden;
	clear: both;
}

#preview.text-markdown span.align-right > span {
	display: block;
	overflow: hidden;
	margin: 13px 0 0;
	text-align: right;
}

#preview.text-markdown span.align-right span img {
	margin: 0;
	text-align: right;
}

#preview.text-markdown span.float-left {
	display: block;
	margin-right: 13px;
	overflow: hidden;
	float: left;
}

#preview.text-markdown span.float-left span {
	margin: 13px 0 0;
}

#preview.text-markdown span.float-right {
	display: block;
	margin-left: 13px;
	overflow: hidden;
	float: right;
}

#preview.text-markdown span.float-right > span {
	display: block;
	overflow: hidden;
	margin: 13px auto 0;
	text-align: right;
}

#preview.text-markdown code, #preview.text-markdown tt {
	margin: 0 2px;
	padding: 0 5px;
	white-space: nowrap;
	border: 1px solid #eaeaea;
	background-color: #f8f8f8;
	border-radius: 3px;
}

#preview.text-markdown pre code {
	margin: 0;
	padding: 0;
	white-space: pre;
	border: none;
	background: transparent;
}

#preview.text-markdown .highlight pre {
	background-color: #f8f8f8;
	border: 1px solid #cccccc;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
}

#preview.text-markdown pre {
	background-color: #f8f8f8;
	border: 1px solid #cccccc;
	font-size: 13px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
}

#preview.text-markdown pre code, #preview.text-markdown pre tt {
	background-color: transparent;
	border: none;
}

#preview.text-markdown strong {
	font-weight: bold;
}

#preview.text-markdown em {
	font-style: italic;
}
